version: '2'

services:

  adminer:
    image: clue/adminer
    ports:
      - 8888:80

  proxy:
    ports:
      - 80:80

  mailcatcher:
    image: docker pull schickling/mailcatcher
    ports:
      - 1080:1080

